<nav class="flex items-center bg-transparent p-3 flex-wrap sticky">
  <div href="#">
    <span class="text-xl font-bold uppercase tracking-wide">
      &lt; FM /&gt;
    </span>
  </div>

  <button (click)="toggleMenu();" class="inline-flex p-3 hover:bg-blue-700 rounded md:hidden ml-auto nav-toggler">
    <i class="material-icons">menu</i>
  </button>

  <div class="hidden top-navbar w-full md:inline-flex md:flex-grow md:w-auto" #navigation>
    <div class="md:inline-flex md:flex-row md:ml-auto flex flex-col">
      <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded">
        <span>Home</span>
      </a>
      <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded">
        <span>About</span>
      </a>
      <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded">
        <span>Services</span>
      </a>
      <a href="#" class="lg:inline-flex lg:w-auto px-3 py-2 rounded">
        <span>Projects</span>
      </a>
    </div>
  </div>
</nav>

<!-- <div>
  <img class="w-full" src="assets/banner.jpg" alt="banner">
</div> -->

<div class="projects-section">
  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 md:-mx-4">
      <!-- Column -->
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3" *ngFor="let project of projects; let i = index;">

        <!-- Article -->
        <article class="overflow-hidden rounded-lg shadow-lg">
          <div>
            <img alt="Placeholder" class="block w-full h-52" [src]="project.image">
          </div>

          <header class="flex items-center justify-between leading-tight p-2 md:p-4">
            <h1 class="text-lg">
              <a class="no-underline hover:underline text-black" href="{{ project.link }}" target="blank">
                {{ project.title }}
              </a>
            </h1>
          </header>

          <footer class="flex items-center justify-between leading-none p-2 md:p-4">
            <p class="ml-2 text-sm">
              {{ project.description }}
            </p>
          </footer>

        </article>
        <!-- END Article -->
      </div>
      <!-- END Column -->
    </div>
  </div>
</div>
