<!-- <mat-card class="example-card" *ngFor="let project of projects; let i = index;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ project.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{ project.description }}
    </p>
  </mat-card-content>
</mat-card> -->


<!-- <div *ngFor="let project of projects; let i = index;">
  <img [src]="project.image" alt="projectImage">

  <a target="blank" href="{{project.link}}">{{ project.title }}</a>
  <p>{{ project.description }}</p>
</div> -->
